<!--
    Author: Srinivas Namballa
    Date Created: 09/04/2019
    Description: This html page is used to display the Students Dashboard of Udyog.com
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Udyog.com - Student Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="CSS/studentDashboard.css">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <h2 class="text-white">Udyog.com - Student Dashboard</h2>

        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <h5> <a href="/studentDash" class="text-white navbar-brand">Home</a> </h5>
                <h5> <a href="/studentProfile" class="text-white navbar-brand">View Profile</a> </h5>
                <h5> <a href="/studentProfileForm" class="text-white navbar-brand">Edit Profile</a> </h5>
                <h5> <a href="/studentLogout" class="text-white navbar-brand">Logout</a> </h5>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </nav>
        </div>
    </nav>

    <p></p>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <form class="form-inline">
                    <div class="form-group mb-2">
                        <label class="sr-only">search</label>
                        <input type="text" class="form-control form-control-lg" id="inputSearch" name="searchJobs" placeholder="Search jobs by skills, designation etc.">
                    </div>
                    <button type="submit" class="btn btn-secondary mx-sm-5 mb-2">Search</button>
                </form>
            </div>

            <div class="col-md-5" id="profilePic">
                <img src="Images/profile-picture.jpg" class="rounded float-right img-fluid" id="imgResize" alt="Profile-picture">

                <img src="/studentProfile/profileImg/{{loggedInUser.imageName}}" alt="" height="180px" width="180px">
            </div>

            <div class="col-md-9">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Recommended Jobs</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                {{#each jobs}}
                                <a class="btn btn-secondary" href="/studentApply/{{_id}}">  
                                    {{jobTitle}} &nbsp; &nbsp;  {{keySkills}} &nbsp; &nbsp; {{location}} 
                                </a>
                                <p></p>
                                {{/each}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-3" id="studentName">
                <h2>Student Name</h2>
            </div>

            <div class="col-md-9">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Top Companies Hiring</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <a href=""><img src="Images/Amazon-logo.jpg" alt="Amazon-logo" class="topCompanies"></a>
                                
                                <a href=""><img src="Images/tata-consultancy-services-tcs-logo.png" alt="TCS-logo" class="topCompanies"></a>
                                <p></p>
                                <a href=""><img src="Images/capgemini-logo.jpg" alt="Capgemini-logo" class="topCompanies"></a>

                                <a href=""><img src="Images/Infosys-logol.jpg" alt="Infosys-logo" class="topCompanies"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>